<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
  <body>
    <p>
      <strong>Commenter:</strong>
      <%= comment.commenter %>
    </p>
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
  <p>
    <%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { config: 'Are you sure?' } %>
  </p>
  </body>
</html>