<h1>Chats</h1>
<ul class="list-group">
  <% @conversations.each do |conversation| %>
  <li class="list-group-item"><%= conversation.id %></li>
  <li class="list-group-item"><%= conversation.subject%></li>
  <li class="list-group-item"><%= link_to 'show', conversation_messages_path(conversation), class: "btn btn-success" %></li>
  <%end %>
</ul>