



<h4>User Name </h4>
<%= @user.nickname %>
<h4>User Fist name</h4>
<%= @user.first_name %>
<h4>User Last name</h4>
<%= @user.last_name %>
<h4>User email</h4>
<%= @user.email %>
<h4>User avatar</h4>
<%#= @user.avatar %>
